<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompuMaster.Scopevisio.OpenApi" version="2021.7.20.102" targetFramework="net48" />
  <package id="JsonSubTypes" version="1.8.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="RestSharp" version="106.12.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net48" />
</packages>